.logoNav {
  top: 0px;
  z-index: 1;
  height:30px;
  right: 36%;
  top: 8%;
}

.navBtn {
  float: right;
}

.btn1 {
  margin: 10px;
  border-radius: 30%;
  /* background-color: white;
  border-color: whitesmoke; */
  border: 1px solid whitesmoke;
  border-radius: 0.4em;
  box-shadow: 2px 4px 20px black;
  color: black;
  background-color: white;
}

button:hover {
  box-shadow: 0 4px 16px black;
}

.social {
  margin: 10px;
}