.card {
  box-shadow: 2px 4px 20px black;
  border: 1px solid whitesmoke;
  transition: 0.3s;
  width: 250px;
  height: 200px;
  text-align: center;
  margin: 5px;
  float: left;
  padding-left: 11px;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.cardContainer {
  padding: 2px 16px;
}

.products {
  height:70vh;
  width: 100%;
}